<div class="row">
    <div class="col-sm-offset-4 col-sm-3 loginBox">
        <form class="" action="index.html" method="post">
            <p>
                <label for="username">User Name/Email</label>
                <input type="text" name="username" id="username" value="">
            </p>
            <p>
                <label for="password">User Name/Email</label>
                <input type="text" name="password" id="password" value="">
            </p>
            <p>
              <button type="button" name="button">Login</button>
            </p>

        </form>

    </div>
</div>
