<div class="row" ng-controller="loginController as loginCtrl">
    <div class="col-sm-offset-4 col-sm-3 loginBox">
        <form class="" action="index.html" method="post">
            <p>
                <label for="username">User Name/Email</label>
                <input type="text" name="username" id="username" value="" ng-model="username">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="text" name="password" id="password" value="" ng-model="password">
            </p>
            <p>
              <button type="button" name="button" ng-click="registerClick();">Register</button>
            </p>

        </form>

    </div>
</div>
