body {
    margin: 0;
    padding: 0;

    .col-sm-12 {}

    .loginBox {
        margin-top: 25%;
        padding: 20px;
        text-align: center;
        -webkit-box-shadow: 0 0 17px 0 rgba(50, 50, 50, 0.57);
        -moz-box-shadow: 0 0 17px 0 rgba(50, 50, 50, 0.57);
        box-shadow: 0 0 17px 0 rgba(50, 50, 50, 0.57);

        p {
            label {
                font-size: 12px;
                text-align: left;
                float: left;
            }

            input {
                width: 100%;
            }
        }
    }
}
